@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body{margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;}
h1{font-weight: 100; font-size: 4em;}
h2{font-weight: 100; font-size: 3em;}
h2::after{content: ""; display: block; margin: 10px auto; width: 88px; height: 2px; background: #000; z-index: 100; position: relative;}
h3{font-weight: 100; font-size: 2em;}
p{width: 100%; margin: 0 auto; font-size: 1.9em; font-weight: 300;}
span{font-weight: 700;}

/*Botões*/
.btn-grande{display: block; max-width: 360px; width: 100%; height: 78px; border: 2px solid #b2cb59; border-radius: 5px; background: transparent; text-align: center; font-size: 23px; color: #b2cb59; -webkit-transition: 0.2s ease; -o-transition: 0.2s ease; transition: 0.2s ease;}
.btn-grande:hover{background: #b2cb59; color: #fff;}
.chamada-mobile{display: none;}

/*Skils*/
.skillbar{width: 100%; height: 30px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; position:relative; margin-bottom:30px; background: url('../img/stripe.png') repeat scroll 0 0 #e0e0e0;}
.count-bar{height: 100%; width:0px; position:relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: #b2cb59;}
.title{font-size:14px; font-weight:400; padding-left:12px; line-height:30px; text-transform:uppercase;}

/*Chamada da Home*/
.chamada-home{position: relative; background: center url('../img/bg-pearcoffee-oferta.jpg') #fff no-repeat; background-position-y: 57px; height: 800px; text-align: center;}
.chamada-home img{margin: 30px;}
.chamada-home p{max-width: 540px; font-size: 1.9em;}
.chamada-home .video {position: absolute; width: 440px; height: 302px; background: #b2cb59; left: 50%; top: 0; margin: 358px 0 0 -222px;}

/*Chamada Destaque*/
.chamada-destaque{text-align: center; min-height: 450px; margin: 35px 0;}
.chamada-destaque p{font-size: 1em;}
.bg-verde{background: #b2cb59;}
.bg-branco{background: #fff;}
.bg-preto{background: url('../img/bg-escolha-seu-lado.jpg'); color: #fff;}

@media screen and (max-width: 991px){
	#btn-desktop{display: none;}
	.chamada-home{background: #fff !important;}
	.chamada-mobile{background: #000; padding: 10px; display: block;}
}
